<div id="<%= dom_id movie %>">
  <td>
    <%= movie.title %>
  </td>

  <td>
    <%= movie.rating %>
  # </td>

   <td>
     <%= movie.description %>
   </td>

  <td>
    <%= movie.release_date %>
  </td>

</div>
